@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}
.carousel-caption {
    width: max-content;
    height: max-content;
    left: 50% !important;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn-selengkapnya {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: none !important;
    text-shadow: none !important;
}
.dark-80 {
    filter: brightness(76%);
}
.home-infos {
    background-color: #F4F6F5;
}
.hero-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
}
a.read-more {
    color: #01AB55 !important;
}
hr.lg {
    border-top: 1px solid #01AB55;
    width: 3rem;
}
hr.md {
    border-top: 1px solid #01AB55;
    width: .7rem;
}
.news + p {
    text-indent: 24px;
    text-align: justify;
}
.bg-footer {
    background-color: #10171D;
}
.bg-footer1 {
    background-color: #DBDCCE;
}
.no-border {
    border: none !important;
}
.no-border:focus {
    box-shadow: none !important;
}
.nav-link.active, .active>.nav-link {
    color: #01AB55 !important;
}
.navbar-toggler-icon {
    filter: invert(1);
}
.counter {
    margin-top: -3.5rem;
}
.hhr {
    background-image: url('../bg1.png');
    margin-left: -15px;
    margin-right: -15px;
}
.ln-pemerintahan > .container {
    background-image: url('../bg2.svg');
}
.bgx {
    height: 364px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-content {
    font-family: 'EB Garamond', serif;
}
.mw-860{
    max-width: 860px;
}
.bg-gray {
    background-color: #E5E5E5;
}
.btn-layanan:hover, .btn-layanan:focus, .btn-layanan:active {
    color: #FFFFFF !important;
    background-color: #01AB55 !important;
    border: 1px solid #01AB55 !important;
}
.footer-link {
    color: #6c757d !important;
}
.footer-link:focus, .footer-link:hover {
    color: #FFFFFF !important;
    transition: .3s ease;
}
.tx-11 {
    font-size: 11px;
}
.tx-12 {
    font-size: 12px;
}
.tx-13 {
    font-size: 13px;
}
.tx-14 {
    font-size: 14px;
}
.tx-15 {
    font-size: 14px;
}
.tx-16 {
    font-size: 16px;
}
.tx-19 {
    font-size: 19px;
}
.tx-20 {
    font-size: 20px;
}
.tx-22 {
    font-size: 22px;
}
.tx-24 {
    font-size: 24px;
}
.tx-36 {
    font-size: 36px;
}
.tx-50 {
    font-size: 50px;
}
.tx-64 {
    font-size: 64px;
}
.tx-72 {
    font-size: 72px;
}
.tx-86 {
    font-size: 86px;
}
.tx-16-resp {
    font-size: 16px;
}
.tx-24-resp {
    font-size: 24px;
}
.tx-64-resp {
    font-size: 64px;
}
.tx-72-resp {
    font-size: 72px;
}
.tx-86-resp {
    font-size: 86px;
}
.menu-layanan {
    margin-top: -4rem;
}
@media (min-width:768px) {
    .carousel-control-prev {
        display: block !important;
        width: max-content !important;
        height: max-content;
        left: 26% !important;
        top: 80% !important;
        transform: translate(-50%, -50%);
    }
    .carousel-control-next {
        display: block !important;
        width: max-content !important;
        height: max-content;
        left: 28% !important;
        top: 80% !important;
        transform: translate(-50%, -50%);
    }
    .carousel-indicators {
        margin: 0 !important;
        width: max-content !important;
        height: max-content;
        left: 35% !important;
        top: 80% !important;
        transform: translate(-50%, -50%);
    }}
@media (max-width:768px) {
    .tx-24-resp {
        font-size: 18px;
    }
    .tx-36-resp {
        font-size: 24px;
    }
    .tx-64-resp {
        font-size: 32px;
    }
    .tx-72-resp {
        font-size: 36px;
    }
    .tx-86-resp {
        font-size: 43px;
    }
    .menu-layanan {
        margin-top: 0rem;
    }
}
@media (max-width:480px) {
    .tx-16-resp {
        font-size: 12px;
    }
    .tx-24-resp {
        font-size: 16px;
    }
    .tx-36-resp {
        font-size: 18px;
    }
    .tx-64-resp {
        font-size: 16px;
    }
    .tx-72-resp {
        font-size: 24px;
    }
    .tx-86-resp {
        font-size: 21px;
    }
    .menu-layanan {
        margin-top: 0rem;
    }
}